@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';
@plugin 'daisyui';
@plugin 'tailwind-scrollbar-hide';

@plugin "daisyui/theme" {
  name: "seed";
  default: false;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #5667ed;
  --color-primary-content: oklch(96% 0.016 293.756);
  --color-secondary: oklch(79% 0.209 151.711);
  --color-secondary-content: oklch(98% 0.019 200.873);
  --color-accent: oklch(62% 0.194 149.214);
  --color-accent-content: oklch(96% 0.018 272.314);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(96% 0.018 272.314);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

* {
  font-family: 'Poppins', sans-serif;
}
